body {
    background-color: #FAF8F0;
    display: flex;
    justify-content: center;
    font-family: "Montserrat", sans-serif;
}

h1 {
    font-size: 80px;
    line-height: 0.7;
    color: #756452;
    margin: 0;
}

p, h2 {
    margin: 0;
    text-align: center;
    color: #756452;
    font-weight: 700;
}

.score-title {
    color: #FAF8F0;
    margin-top: 5px;
}

h2 {
    color: #FFF;
}

.container {
    width: 468px;
    margin-top: 30px;
}

.info {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 456px;
    height: 456px;
    background-color: #9C8B7C;
    border: 8px solid #9C8B7C;
    border-radius: 25px;
    margin-top: 20px;
    transition: all 0.15s ease-in-out;
}

.grid square {
    width: 100px;
    height: 100px;
    margin: 7px;
    border-radius: 10px;
    background-color: #EEE4DA;
    color: #af6464;
    font-weight: bold;
    text-align: center;
    font-size: 50px;
    line-height: 1.6;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}

.score-container {
    text-align: center;
    width: 90px;
    height: 70px;
    border-radius: 3px;
    background-color: #756452;
    color: #FFF;
}

#score {
    font-size: 30px;
}

.score-title {
    font-size: 16px;
}

.but {
    visibility: hidden;
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#restart-btn {
    width: 70%;
    background-color: #756452;
    color: #EEE4DA;
    padding: 20px 0px;
    border: none;
    border-radius: 5px;
    transition: 0.5s all ease;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 600;
    font-style: normal;
    font-size: 20px;
}

#restart-btn:hover {
    background-color: #4f4337;
    letter-spacing: 2px;
    transition: 0.5s ease;
}